body {
    margin: 0;
    font-family: Arial, sans-serif;
    }
  

  main{
  margin-left: 220px;
  }
  .sidebar {
    background: #333;
    width: 220px;
    height: 100%;
    position: fixed;
    left: -220px;
    top: 0;
    padding-top: 60px;
    transition: all 0.3s ease;
    transition: transform 0.3s ease;
  }
  .sidebar-home{
    background: #333;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    padding-top: 60px;
  }
    
  .sidebar-home ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-home ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  .sidebar-home ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  .menu-toggle {

    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 25px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    z-index: 999;
  }
  
  .hero {
    background: url('/img/imagen\ de\ Home\ grierson.png') center/cover no-repeat;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 100px;
  }
  
  .grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .grid div {
    width: 30%;
    background: #eee;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
  
  footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }

  @media (max-width: 1250px) {
    main{
      margin-left: 0px;
    }
    .sidebar-home{
      display: none;
    }
  }